<section>
  <h2>Hello World, from Phoenix!</h2>
  <.link href={~p"/hello/panchi?locale=es"}>Go to Panchi's greeting</.link><br>
  <.link href={url(~p"/hello/caro?locale=es")}>This is a Path to Caro's greeting <br><%=url(~p"/hello/caro?locale=es")%></.link>
</section>
